@font-face {
	font-family: 'Gmarket Sans';
	font-weight: bold;
	font-display: swap;
	src: url('./GmarketSansTTFBold.woff') format('woff2');
}

@font-face {
	font-family: 'Gmarket Sans';
	font-weight: 500; /* medium */
	font-display: swap;
	src: url('./GmarketSansTTFMedium.woff') format('woff2');
}

@font-face {
	font-family: 'Gmarket Sans';
	font-weight: 300; /* light */
	font-display: swap;
	src: url('./GmarketSansTTFLight.woff') format('woff2');
}

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 500; /* medium */
	font-display: swap;
	src: url('./Pretendard-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 400; /* normal */
	font-display: swap;
	src: url('./Pretendard-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 300; /* light */
	font-display: swap;
	src: url('./Pretendard-Light.woff2') format('woff2');
}
